button {
  margin-top:20px;
}

code {
  display:block;
  height:100%;
  overflow-x: 0;
}

pre {
  background-color: #282c34;
  margin-bottom:0;
}

.hljs {
  overflow-x: initial;
}

p#output {
  background-color: black;
  margin-bottom: 0px;
  padding: 15px;
}